*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height:100vh;
    background-image: linear-gradient(rgba(44, 32, 139, 0.65),rgba(44, 32, 136, 0.65)),url(images/h1.jpeg);
    background-size: cover;
    background-position: center;
    padding:10px 8%;
}
nav{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0;
}
.logo{
    width:180px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 80%;
}
.logo:hover{
    width: 180px;
    height: auto; 
    animation: glow 2s;
    
}
@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 
                    0 0 20px rgba(255, 255, 255, 0.3), 
                    0 0 30px rgba(255, 255, 255, 0.1);
        
    }
    50% {
        box-shadow: 0 0 20px rgb(218, 23, 185), 
                    0 0 40px rgba(233, 45, 202, 0.6), 
                    0 0 60px rgba(201, 25, 171, 0.3);
        transform: translate(50%);
    }
    100% {
        box-shadow: 0 0 10px rgba(47, 199, 34, 0.5), 
                    0 0 20px rgba(33, 202, 41, 0.3), 
                    0 0 30px rgba(45, 236, 45, 0.1);
    
        
    }
}
.content h1 span:hover{
    transition: ease-in-out;

}
nav ul {
    list-style: none;
    width:100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li:hover{
    transform: scale(120%);
    /* transform: skewX(10deg); */
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    transition: 1s;
    
}
nav ul li a:hover{
    color:#ea1538;
    background-color: antiquewhite;
  }

.content{
    margin-top: 4%;
    color: #fff;
    max-width:620px;
}
.red{
    color:red;
}

.content h1{
    font-size:40px;
    font-weight:600;
    line-height:40px;
    margin-bottom: 25px;
    position:relative;

}
.content h1 img{
    position: absolute;
    margin-left: 80%;
    margin-top: auto;
    width:200px;
    height: auto;
    border-radius:30px;
    display: none;

}

.content h1:hover{
    animation: move 2s;
}
@keyframes move{
    0%{
        transform: translateX(50%);
    }
    50%{
        transform: scale(130%);
    }
    100%{
        transform: translateX(0%);
    }
}

.content form{
    display:flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 8px;
    margin-top: 30px;
}
.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}
.content form .btn{
    font-size: 15px;
    padding-left: 10px 30px;
}
.content form .btn:hover{
    transform: scale(120%);
    background-color: rgb(33, 152, 173);
    color: rgb(211, 13, 13);
}
.follow h3{

    margin-top: 30px;
    text-align: center;
}
.follow ul {
    list-style: none;
    width:100%;
    text-align: center;
    padding-right: 60px;
}
.follow ul li{
    display: inline-block;
    margin: 10px 20px;

}
.follow ul li img{
    width: 2em;
    border-radius: 50%;
} 
.follow ul li img:hover{
   transform: scale(120%);
} 


